<VirtualHost *:80>
    ServerName "merkle"
    ServerAlias "www.merkle.com"
    DocumentRoot "${DOCROOT}"

    <Directory "${DOCROOT}">
        <IfModule disp_apache2.c>
            SetHandler dispatcher-handler
        </IfModule>
        Options FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

    RewriteEngine on
    Include conf.d/rewrites/rewrite.rules

    <IfModule mod_headers.c>
        Header unset ETag
    </IfModule>
</VirtualHost>
